* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -ms-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $ecru-white;
    font-family: $first-font;
    font-weight: $font-bold;
    font-size: $fs-s;
    color: $downriver;
}

li {
    list-style: none;
  }