@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Mulish:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E5E5E5;
  font-family: Mulish;
  font-weight: 700;
  font-size: 18px;
  color: #0D1C52;
}

.btn {
  display: flex;
  justify-content: center;
  padding: 40px;
  border-radius: 30px;
  border: none;
}
.btn.-persimmon {
  width: 608px;
  background-color: #FE6F4F;
  font-family: Mulish;
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
}

.calendar {
  display: flex;
  gap: 16px;
  flex-direction: row;
  margin-bottom: 32px;
}
.card {
  padding: 74px;
  background-color: #FFFFFF;
  box-shadow: 0px 44px 64px rgba(69, 25, 160, 0.1);
  border-radius: 32px;
}

.search-form__input {
  width: 608px;
  padding: 16px;
  border: 1px solid #8F9DCE;
  border-radius: 4px;
  margin-bottom: 18px;
}
.search-form__input::-moz-placeholder {
  font-family: Mulish;
  font-weight: 700;
  font-size: 18px;
  color: #0D1C52;
}
.search-form__input::placeholder {
  font-family: Mulish;
  font-weight: 700;
  font-size: 18px;
  color: #0D1C52;
}
.search-option {
  display: flex;
  gap: 8px;
  flex-direction: row;
  margin-bottom: 32px;
}
.search-option__icon {
  cursor: pointer;
}
.search-feature {
  display: flex;
  gap: 18px;
  flex-direction: column;
  list-style-type: none;
  margin-bottom: 40px;
}
.text-title {
  font-family: Merriweather;
  font-size: 32px;
  padding-bottom: 40px;
}
.text-label {
  font-family: Mulish;
  font-size: 14px;
  padding-bottom: 8px;
}