@mixin flex(
  $gap: 0,
  $flex-direction: row,
  $align-items: center,
  $justify-content: center,
) {
    display: flex;
    gap: $gap;
    flex-direction: $flex-direction;
    $align-items: $align-items;
    $justify-content: $justify-content;
}
