$fair-pink: #FFECEC;
$blue-chalk: #F7ECFF;
$zircon: #ECF0FF;
$humming-bird: #D7F9F3;
$snow-flurry: #E2FFD5;
$white: #FFFFFF;
$barley-white: #FFF3C9;
$tuft-bush: #FFD9C9;
$valhalla: #281A51;
$snuff: #DBD5EC;
$black: #000000;
$purple-mountains-majesty: #8675B4;
$selago: #EFEBFD;